{% extends 'base.html' %}
{% block title %}
    DatabaseDirectory
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/database_directive.css">
    <link rel="import" href="/static/bower_components/peter-selector/peter-selector.html">
    <link rel="import" href="/static/bower_components/core-icons/core-icons.html">
    <link rel="import" href="/static/bower_components/paper-fab/paper-fab.html">
{% endblock %}
{% block contents %}
    <div class="container" ng-app="refractiveIndexApp" ng-controller="RefractiveIndexController">
        <div class="cardcontainer" ng-show="categorydisplay" ng-init="categorydisplay=true" ng-cloak>
            <div class="center">
                <h1>STEP 1: Choose Category</h1>
            </div>
            <peter-selector id="categoryselector" category-changed-handler ng-click="">
                {% for category in category %}
                    <div name = "{{ category.title }}" class="item">
                        {{ category.title }}
                    </div>
                {% endfor %}
            </peter-selector>
            <div class="nextbutton">
                <paper-fab id="categorynext" ng-disabled="categorynextdisabled" icon="arrow-forward" ng-click="categorynextclickHandler()"></paper-fab>
            </div>
        </div>
        <div class="cardcontainer" ng-show="elementdisplay" ng-init="elementdisplay=false" ng-cloak>
            <div class="center">
                <h1>STEP 2: Choose Element</h1>
            </div>
            {% verbatim %}
            <peter-selector id="elementselector" element-changed-handler>
                <div name="{{ element.title }}" ng-repeat="element in chemelement" class="item">
                    {{ element.title }}
                </div>
            </peter-selector>
            {% endverbatim %}
            <div class="nextbutton">
                <paper-fab id="elementnext" ng-disabled="elementnextdisabled" icon="arrow-forward" ng-click="elementnextclickHandler()"></paper-fab>
            </div>
        </div>
        <div class="cardcontainer" ng-show="elementlistdisplay" ng-init="elementlistdisplay=false" ng-cloak>
            <div class="center">
                <h1>STEP 3: Choose Element List</h1>
            </div>
            {% verbatim %}
            <peter-selector id="elementlistselector" elementlist-changed-handler>
                <div attr="{{ elementlist.id }}" name="{{ elementlist.title }}" ng-repeat="elementlist in chemelementlist" class="item">
                    {{ elementlist.title }}
                </div>
            </peter-selector>
            {% endverbatim %}

            <div class="nextbutton">
                <paper-fab id="elementlistnext" ng-disabled="elementlistnextdisabled" class="green" icon="check" ng-click="elementlistnextclickHandler()"></paper-fab>
            </div>
        </div>
        <div class="cardcontainer" ng-show="resultdisplay" ng-init="resultdisplay=false" ng-cloak>
            <div class="center">
                <h1 id="refractiveindexresult">Result</h1>
            </div>
        </div>
    </div>
    <script src="/static/js/src/database-directory.js"></script>
{% endblock %}
