{% extends 'sidnavbase.html' %}
{% block title %}
    INDEXApp
{% endblock %}
{% block head %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/static/js/lib/googlelinechart/googlelinechart.js"></script>
{% endblock %}
{% block sidenavtoolbar %}
    <a id="id_gotohomepage" style="color: #ffffff; text-decoration: none" href="{% url 'home' %}">
        <h1 class="md-toolbar-tools">
                            <span style="margin-right: 10px">
                            <img src="/static/images/FDTDsmall.png">
                            </span>Index App
        </h1>
    </a>
{% endblock %}
{% block maintoolbar %}
    <h1 class="md-toolbar-tools">
        <md-button ng-hide="screenIsgtmd" ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="/static/images/icons/menu.svg"></md-icon>
        </md-button>
        {% verbatim %}
        {{ maintoolbartitle }}
        {% endverbatim %}
    </h1>
{% endblock %}
{% block leftctrl %}
    <md-content class="ng-cloak" ng-controller="LeftCtrl">
        {% verbatim %}
        <ul style="padding: 0; margin: 0">
            <li ng-repeat="navmenu in navmenus">
                <md-button md-ripple-size="full" class="text-left topmenu" ng-click="selectmenu(navmenu)">
                    <div class="row">
                        <div class="col-md-2 col-xs-2"><md-icon class="{{ navmenu.class }}" md-svg-icon="{{ navmenu.icon }}"></md-icon></div>
                        <div class="col-md-3 col-xs-3" style="color: #898984" ng-hide="navmenu.menu==menuselected">{{ navmenu.menu }}</div>
                        <div class="col-md-3 col-xs-3" ng-class="navmenu.class" ng-show="navmenu.menu==menuselected && navmenu.class!='lightgrey'">{{ navmenu.menu }}</div>
                        <div class="col-md-3 col-xs-3" style="color: black" ng-show="navmenu.menu==menuselected && navmenu.class=='lightgrey'">{{ navmenu.menu }}</div>
                    </div>
                </md-button>
            </li>
        </ul>
    </md-content>
    {% endverbatim %}
{% endblock %}
{% block mainpage %}
    <div class="indexapp" ng-view>
    </div>

{% endblock %}
{% block javascript %}
    <script src="/static/js/lib/requirejs/require.js" data-main="/static/js/src/indexapp/dist/main.js"></script>
{% endblock %}
