{% extends 'sidnavbase.html' %}
{% block title %}
    INDEXApp
{% endblock %}
{% block head %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/static/js/lib/googlelinechart/googlelinechart.js"></script>
{% endblock %}
{% block sidenavtoolbar %}
    <a id="gotoIndexlandingpage" style="color: #ffffff; text-decoration: none" href="{% url 'databasedir' %}">
        <h1 class="md-toolbar-tools">
                            <span style="margin-right: 10px">
                            <img src="/static/images/INDEXsmall.png">
                            </span>Index App
        </h1>
    </a>
{% endblock %}
{% block maintoolbar %}
    <h1 class="md-toolbar-tools">
        <md-button ng-hide="screenIsgtmd" ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="/static/images/icons/menu.svg"></md-icon>
        </md-button>
        App
    </h1>
{% endblock %}
{% block leftctrl %}
    <md-content class="ng-cloak" ng-controller="LeftCtrl">
        {% verbatim %}
        <ul style="padding: 0; margin: 0">
            <li ng-repeat="navmenu in navmenus">
                <md-button md-ripple-size="full" class="text-left topmenu" ng-click="selectmenu(navmenu)">
                    <div layout="row">
                        <div>{{ navmenu.menu }}</div>
                        <span flex></span>
                        <md-icon md-svg-icon="/static/images/icons/arrow_drop_down.svg"></md-icon>
                    </div>
                </md-button>
                <div ng-class="{hidesubnav :navmenu.menu!=collapsemenuselected}">
                    <ul style="padding: 0; margin: 0">
                        <li ng-repeat="submenu in navmenu.submenus">
                            <md-button style="text-transform: capitalize" md-ripple-size="full" class="text-left submenu" ng-click="selectsubmenu(submenu, navmenu)" ng-class="{sel: submenuselected == submenu && menuselected==navmenu.menu}">
                                <div>{{ submenu }}</div>
                            </md-button>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        {% endverbatim %}
    </md-content>
{% endblock %}
{% block mainpage %}
    <div class="indexapp">
        <div class="container-fluid" style="padding-top: 100px;">
            {% verbatim %}
            <div id="search" ng-controller="SearchCtrl">
                <div style="margin-top: 30px" class="panel panel-primary">
                    <div class="panel-heading">REFRACTIVE INDEX DATABASE IS IN DEVELOPER PREVIEW </div>
                    <div class="panel-body">REFRACTIVE INDEX DATABASE is a <span style="color: red">WORK IN PROGRESS</span>
                        and APIs are subject to change.
                        It is intended for early adopters who want to test
                        out the interface and provide feedback</div>
                </div>
                <form ng-submit="$event.preventDefault()" class="ng-cloak">
                    <md-autocomplete
                            md-selected-item="selectedItem"
                            md-search-text-change="searchTextChange(searchText)"
                            md-search-text="searchText"
                            md-selected-item-change="selectedItemChange(item)"
                            md-items="item in querySearch(searchText)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="Search your element">
                        <md-item-template>
                            <span class="searchspan" md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                    </md-autocomplete>
                    <br/>
                </form>
                <div id="elementlist" layout layout-align="center center">
                    <md-list ng-controller="chartCtrl" ng-hide='hideelementlist' class="ng-cloak">
                        <md-list-item ng-mousedown="drawIndexChart(item)" class="md-3-line" ng-repeat="item in elementlist" ng-class="{expand :paperselected==item.title}" style="padding: 0;">
                            <div class="container" style="width: 900px; background-color: #ffffff">
                                <div class="md-list-item-text" style="padding-left: 10px" ng-class="{title :paperselected==item.title}">
                                    <div layout="row">
                                        <h3 id="elementlisttitle">{{item.title}}</h3>
                                        <span flex></span>
                                        <div ng-show="paperselected==item.title" ng-controller="exportdataCtrl" style="margin-right: 10px;">
                                            <div class="dropdown">
                                                <md-icon id="exportdata" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  md-svg-src="/static/images/icons/getapp.svg"></md-icon>
                                                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                                                    <li role="presentation" class="dropdown-header">Export Data</li>
                                                    <li ng-click="exportcsv()" role="presentation"><a role="menuitem" tabindex="-1" href="#">CSV - comma separated</a></li>
                                                    <li ng-click="exporttxt()" role="presentation"><a role="menuitem" tabindex="-1" href="#">TXT - tab separated</a></li>
                                                    <li ng-click="exportjson()" role="presentation"><a role="menuitem" tabindex="-1" href="#">Full JSON record</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-hide="paperselected!=item.title">
                                    <div id="{{item.title}}" style="height: 400px; margin-bottom: 20px"></div>
                                </div>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
            </div>

        </div>
        {% endverbatim %}
    </div>

{% endblock %}
{% block javascript %}
    <script src="/static/js/lib/requirejs/require.js" data-main="/static/js/src/indexapp/dist/main.js"></script>
{% endblock %}
