{% extends 'appbase.html' %}
{% block title %}
    INDEXApp
{% endblock %}
{% block head %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/static/js/lib/googlelinechart/googlelinechart.js"></script>
{% endblock %}
{% block contents %}
    <div class="indexapp">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>Refractive Index</span>
            </div>
        </md-toolbar>
        <div class="container">
            {% verbatim %}
            <div ng-controller="SearchCtrl">
                <form ng-submit="$event.preventDefault()">
                    <md-autocomplete
                            md-selected-item="selectedItem"
                            md-search-text-change="searchTextChange(searchText)"
                            md-search-text="searchText"
                            md-selected-item-change="selectedItemChange(item)"
                            md-items="item in querySearch(searchText)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="Search your element">
                        <span class="searchspan" md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-autocomplete>
                    <br/>
                </form>
                <div layout layout-align="center center">
                    <md-whiteframe class="md-whiteframe-z1" ng-hide='hideelementlist'>
                        <md-content>
                            <md-list>
                                <md-list-item ng-mousedown="drawIndexChart(item)" class="md-3-line" ng-repeat="item in elementlist" >
                                    <div class="md-list-item-text">
                                        <h3 id="elementlisttitle">{{item.title}}</h3>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </md-whiteframe>
                </div>
                <div layout layout-align="center center">
                    <md-whiteframe class="md-whiteframe-z1" layout="column" id="chartframe" >
                        <md-progress-circular ng-show="loadingchart" md-mode="indeterminate"></md-progress-circular>
                        <div id="linechart_material" style="height: inherit"></div>
                    </md-whiteframe>
                </div>
            </div>

        </div>
        {% endverbatim %}
    </div>
{% endblock %}
{% block javascript %}
    <script src="/static/js/src/indexapp.js"></script>
{% endblock %}
