__pycache__
.pyc
db.sqlite3
.idea/
.DS_Store
FDTD_django/secret_key.py
.elasticbeanstalk
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

FDTD_django/config.py