.cardcontainer{
  display: block;
  margin: 0 20px;
  background-color: white;
  h1{
    font-size: 25px;
    background-color: #2980b9;
    color: white;
    @media screen and (max-width: 500px) {
      font-size: 20px;
    }
  }
  peter-selector{
    display: block;
    width: 50%;
    margin: 0 auto;
    @media screen and (max-width: 500px) {
      width: 80%;
    }
  }
  .nextbutton{
    width: 80px;
    height: 70px;
    display: block;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: auto;
  }
}