.indexapp{
  .title{
    background-color: rgb(238, 246, 255);
  }
  .shadow{
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.26);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.26);
    padding: 0;
  }
  .expand{
    background-color: rgb(238, 246, 255);
    margin-bottom: 50px;
    margin-top: 50px;
  }
  md-toolbar{
    position: fixed;
    z-index: 1030;
  }
  md-list-item{
    .md-list-item-text{
      cursor: pointer;
      md-icon{
        color: #bdc3c7;
      }
      md-icon:hover{
        color: #34495e;
      }
      md-icon:focus{
        outline:0;
      }
    }
  }
  md-whiteframe{
    md-list{
      padding: 0;
    }
    md-list-item:hover{
      background-color: rgb(238, 246, 255);
      cursor: pointer;
    }
    md-list-item:active{
      background-color: dodgerblue;
    }
  }
  #chartframe{
    background-color: #ffffff;
  }
}

.md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle; }
.md-grid-item-content {
  height: 96px; }
.md-grid-item-content md-icon {
  height: 48px;
  width: 48px; }
.md-grid-text {
  padding-bottom: 5px; }


.deepblue{
  color: rgb(63, 81, 181);
}

.lightgrey{
  color: #898984;
}
