.indexpage{
  padding-top: 70px;
  section{
    padding: 50px;
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
    h1{
      font-weight: 300;
      margin: 0;
      font-size: 40px;
      letter-spacing: -0.01em;
    }
    h2{
      font-weight: 300;
      margin: 0;
      font-size: 35px;
      letter-spacing: -0.01em;
    }
    p{
      margin: 20px 0;
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
    }
  }
}
