@import "homepage";
@import "indexapp";
@import "indexpage";
@import "guidepage";

html, body {
  background-color: #EEE;
  font-family: 'RobotoDraft',Helvetica,Arial, sans-serif;
}

.header{
  top: 0;
  left: 0;
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  z-index: 1030;
  md-tabs{
    height: 70px;
    md-tabs-canvas{
      height: 70px;
      md-pagination-wrapper{
        height: 70px;
      }
    }
    md-tab-data{
      height: 70px;
    }
    md-tab-item{
      height: 70px;
      border-style: solid;
      border-width: 1px;
      border-color: #EEE;
      border-bottom: hidden;
      border-top: hidden;
    }
  }
}
.maincontent{
  background-color: #EEE;
}

.container{
  padding-top: 100px;
}
