@import "homepage";

html, body {
  background-color: #EEE;
}
.maincontent{
  margin-top: 90px;
  height: 2000px;
}
.container-fluid{
  background-color: #EEE;
  height: 70px;
  .navbar-brand{
    padding: 5px;
    padding-top: 10px;
  }
}
