html,body {
  height: 100%;
  margin: 0;
  background-color: #EEE;
  font-family: 'RobotoDraft',Helvetica,Arial, sans-serif;
}

core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .content {
    height: 2000px;
    .container {
      position: relative;
      top: 50px;
      left: 100px;
      h1{
        position: relative;
        left: 80px;
        color: #444;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: -0.01em;
      }
    }
  }
}

core-toolbar{
  background: #EEE;
  color: #000000;
}

