<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Angular Material -->
    <link rel="stylesheet" href="/static/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="icon"
          type="image/png"
          href="/static/images/INDEXicon.png">
    {% block head %}
    {% endblock %}
</head>
<body ng-app="FDTDapp">
{% block contents %}
{% endblock %}
<script src="/static/bower_components/angular-aria/angular-aria.js"></script>
<script src="/static/bower_components/angular-animate/angular-animate.js"></script>
<script src="/static/bower_components/angular-material/angular-material.js"></script>
<script src="/static/js/src/base.js"></script>
{% block javascript %}
{% endblock %}
</body>
</html>