<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
    <!-- Angular Material -->
    <link rel="stylesheet" href="/static/bower_components/angular-material/angular-material.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="icon"
          type="image/png"
          href="/static/images/FDTDicon.png">
</head>
<body>
<input type="hidden" id="tabindex" name="variable" value="{{ tabindex }}">
<div class="header navbar-fixed-top" ng-controller="headercontroller" style="display: none;">
    <md-whiteframe class="md-whiteframe-z1" layout="column">
        <md-tabs md-selected="selectedIndex" md-no-pagination="true">
            <md-tab md-on-select="tab1clicked()">
                <md-tab-label>
                    <span><img src="/static/images/FDTDsmall.png">FDTD</span>
                </md-tab-label>
            </md-tab>
            <md-tab md-on-select="tab2clicked()">
                <md-tab-label>
                    <span><img src="/static/images/INDEXsmall.png">INDEX</span>
                </md-tab-label>
            </md-tab>
        </md-tabs>
    </md-whiteframe>
</div>
<div class="maincontent">
    {% block contents %}
    {% endblock %}
</div>
<script src="/static/bower_components/requirejs/require.js" data-main="/static/js/src/landing/main.min.js"></script>
</body>
</html>