<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    {% block head %}
    {% endblock %}
    <!-- Angular Material -->
    <link rel="stylesheet" href="/static/js/lib/angular-material/angular-material.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="icon"
          type="image/png"
          href="/static/images/FDTDicon.png">
    <!-- Polymer -->
    <script src="/static/js/lib/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="/static/js/lib/paper-styles/paper-styles.html">
    <link rel="import" href="/static/js/lib/paper-dialog/paper-dialog.html">
    <link rel="import" href="/static/js/lib/paper-button/paper-button.html">
    <link rel="import" href="/static/js/lib/paper-menu/paper-menu.html">
    <link rel="import" href="/static/js/lib/paper-item/paper-item.html">
    <link rel="import" href="/static/js/lib/iron-icons/iron-icons.html">
    <link rel="import" href="/static/js/lib/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="/static/js/lib/paper-drawer-panel/paper-drawer-panel.html">
    <link rel="import" href="/static/js/lib/paper-item/paper-item.html">
</head>
<body unresolved>
<paper-drawer-panel id="paperDrawerPanel" force-narrow="true">
    <div drawer class="drawer">
        <div style="margin-top: 84px; text-decoration: none; border-bottom: 1px solid lightgrey;">
            <paper-item><a href="{% url 'fdtdapp' %}"><paper-button style="text-align: left">Get Started</paper-button></a></paper-item>
        </div>
        <div style="text-decoration: none; border-bottom: 1px solid lightgrey;">
            {% if user.username %}
                <paper-item>
                    <a href="/logout/"><paper-button style="text-align: left">Sign Out</paper-button></a>
                </paper-item>
            {% else %}
                <paper-item>
                    <a href="{% url 'login' %}"><paper-button style="text-align: left" class="learn-more-btn">Sign In</paper-button></a>
                </paper-item>
            {% endif %}
        </div>
    </div>
    <div main style="overflow: scroll;">
        <div class="main" ng-controller="headercontroller">
            <header class="main-header">
                <div class="menu-btn">
                    <paper-icon-button paper-drawer-toggle icon="menu" title="menu"></paper-icon-button>
                </div>
                <a href="{% url 'home' %}" class="title-btn">
                    <img class="logo" src="/static/images/FDTDsmall.png">
                    <h1>FDTD
                        <span class="by-infomagnetic">by-pyt</span>
                    </h1>
                </a>
                <span class="userauthblock">
                    {% if user.username %}
                        <paper-button id="id_logout" style="position: relative; top: -15px;" class="learn-more-btn" data-dialog="logout" ng-click="loginclick($event)"><img class="roundimage" src="{{ user.customer.avatar }}"></paper-button>
                    {% else %}
                        <a href="{% url 'login' %}"><paper-button id="signinbutton" class="learn-more-btn" ng-click="loginclick($event) ">Sign In</paper-button></a>
                    {% endif %}
                </span>
            </header>
            <nav>
                <ul>
                    {% verbatim %}
                    <li class="ng-cloak" ng-repeat="navitem in navitems"><a id="{{ navitem.id }}" href="{{ navitem.url }}">{{ navitem.menu }}</a></li>
                    {% endverbatim %}
                </ul>
            </nav>
        </div>
        <div class="maincontent">
            <scale-up-animation>
                <paper-dialog id="logout" heading="Custom Size &amp; Position" class="user-position">
                    <div><img style="vertical-align: top" src="{{ user.customer.avatar }}"><span style="margin: 0 10px">{{ user.first_name }} {{ user.last_name }}</span></div>
                    <a href="{% url 'logout' %}"><paper-button style="background-color: rgb(63,81,181); padding: 0; color: white; margin: 10px" raised>Sign Out</paper-button></a>
                </paper-dialog>
            </scale-up-animation>
            {% block contents %}
            {% endblock %}
        </div>
    </div>
</paper-drawer-panel>
<script src="/static/js/lib/requirejs/require.js" data-main="/static/js/src/landing/dist/main.js"></script>
</body>
</html>