<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Angular Material -->
    <link rel="stylesheet" href="/static/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="icon"
          type="image/png"
          href="/static/images/INDEXicon.png">
    {% block head %}
    {% endblock %}
</head>
<body>
<div ng-controller="SidenavCtrl" layout="column" style="height:100%;">
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo">
                {% block sidenavtoolbar %}
                {% endblock %}
            </md-toolbar>
            {% block leftctrl %}
            {% endblock %}
        </md-sidenav>
        <md-content flex style="background-color: #ececec;">
            <md-toolbar class="fixedtop">
                {% block maintoolbar %}
                {% endblock %}
            </md-toolbar>
            {% block mainpage %}
            {% endblock %}
        </md-content>
    </section>
</div>
{% block javascript %}
{% endblock %}
</body>
</html>