<div class="col-md-12" style="margin-top: 50px">
    <div class="col-md-8">
        <div id="elementlist" layout layout-align="center center">
            <md-whiteframe class="md-whiteframe-z1">
                Release Time: {{ releasedate }}
                <md-content>
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="releasenote in releasenotes">
                            <span ng-show="releasenote.type=='NEW'" style="color: #e74c3c; margin-top: 8px; margin-right: 20px"><md-icon style="color: #e74c3c" md-svg-src="/static/images/icons/grade.svg"></md-icon><b>{{ releasenote.type }}</b></span>
                            <span ng-show="releasenote.type=='CHANGED'" style="color: #16a085; margin-top: 8px; margin-right: 20px"><md-icon style="color: #16a085" md-svg-src="/static/images/icons/cached.svg"></md-icon><b>{{ releasenote.type }}</b></span>
                            <div class="md-list-item-text">
                                <p>{{ releasenote.note }}</p>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-whiteframe>
        </div>
    </div>
</div>