{% extends 'sidnavbase.html' %}
{% block title %}
    Guide
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/dark.min.css">
{% endblock %}
{% block sidenavtoolbar %}
    <a id="id_gotohomepage" style="color: #ffffff; text-decoration: none" href="{% url 'home' %}">
        <h1 class="md-toolbar-tools">
                            <span style="margin-right: 10px">
                            <img src="/static/images/FDTDsmall.png">
                            </span>Guide
        </h1>
    </a>
{% endblock %}
{% block maintoolbar %}
    <h1 class="md-toolbar-tools">
        <md-button ng-hide="screenIsgtmd" ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="/static/images/icons/menu.svg"></md-icon>
        </md-button>
        {% verbatim %}
        {{ maintoolbartitle }}
        {% endverbatim %}
    </h1>
{% endblock %}
{% block leftctrl %}
    <md-content ng-controller="LeftCtrl" class="ng-cloak">
        {% verbatim %}
        <ul style="padding: 0; margin: 0">
            <li ng-repeat="navmenu in navmenus">
                <md-button md-ripple-size="full" class="text-left topmenu" ng-click="selectmenu(navmenu)">
                    <div layout="row">
                        <div>{{ navmenu.menu }}</div>
                        <span flex></span>
                        <md-icon md-svg-icon="/static/images/icons/arrow_drop_down.svg"></md-icon>
                    </div>
                </md-button>
                <div ng-class="{hidesubnav :navmenu.menu!=collapsemenuselected}">
                    <ul style="padding: 0; margin: 0">
                        <li ng-repeat="submenu in navmenu.submenus">
                            <md-button style="text-transform: capitalize" md-ripple-size="full" class="text-left submenu" ng-click="selectsubmenu(submenu, navmenu)" ng-class="{sel: submenuselected == submenu && menuselected==navmenu.menu}">
                                <div>{{ submenu }}</div>
                            </md-button>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        {% endverbatim %}
    </md-content>
{% endblock %}
{% block mainpage %}
    <div class="container-fluid" style="margin-left:20px; margin-top:70px">
        <div class="row" ng-controller="releaseCtrl">
            <div ng-view></div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="/static/js/lib/requirejs/require.js" data-main="/static/js/src/guideapp/dist/main.js"></script>
{% endblock %}