<!doctype html>
<html>
<head>
    <title>FDTD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script>Polymer = {dom: 'shadow'};</script>
    <script src="static/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="import" href="static/bower_components/paper-button/paper-button.html">
    <link rel="import" href="static/bower_components/font-roboto/roboto.html">
    <link rel="import" href="static/bower_components/core-header-panel/core-header-panel.html">
    <link rel="import" href="static/bower_components/collapse-menu/collapse-menu.html">
    <link rel="import" href="static/bower_components/core-toolbar/core-toolbar.html">
    <link rel="import" href="static/bower_components/core-media-query/core-media-query.html">
    <link rel="import" href="static/bower_components/material-button/material-button.html">
</head>
<body>
<core-header-panel mode="waterfall">
    <core-toolbar class="layout horizontal center">
        <collapse-menu query="(max-width: 600px)">
            <div  class="logo">
                <img src="static/images/FDTD.png">
            </div>
            <material-button id="document">Documentation</material-button>
            <material-button id="getstarted">Get Started</material-button>
        </collapse-menu>
    </core-toolbar>
    <div class="maincontent">
    <core-media-query id="testid" query="max-width: 600px" queryMatches="{{smallscreen}}"></core-media-query>
        {% block contents %}
        {% endblock %}
    </div>
</core-header-panel>
</body>
</html>