{% extends 'base.html' %}
{% block contents %}
    <div class="layout horizontal">
        <div class="container">
            <img src="static/images/FDTD_singlelogo.png">

            <div class="summary layout vertical">
                <h1>FDTD on the Cloud </h1>

                <p>Finite-difference time-domain (FDTD) is a numerical analysis technique used for modeling
                    computational
                    electrodynamics. We make it easier and faster to create anything from a simple 1D simulation to a 3D
                    simulation using our web interface on the cloud.</p>
            </div>
        </div>
    </div>
{% endblock %}