{% extends 'base.html' %}
{% block contents %}
    <div class="container" layout horizontal>
        <img flex2 src="static/images/FDTD_singlelogo.png">
        <div flex layout vertical class="summary">
            <h1>FDTD on the Cloud </h1>
            <p>Web Components usher in a new era of web development based on encapsulated and
                interoperable custom elements that extend HTML itself. Built atop these new standards,
                Polymer makes it easier and faster to create anything from a button to a complete application across
                desktop, mobile, and beyond.</p>
        </div>
    </div>
{% endblock %}